* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: system-ui, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

header {
  background-image: linear-gradient(110deg, #29292986, #1d1d1eae), url("../images/winter.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  color: #fff;
}

.first-line {
  display: flex;
  justify-content: space-between;
  padding: 0;
}

nav {
  display: none;
}

button {
  background-color: transparent;
}

.logo {
  margin: 0;

  img {
    width: 100px;
    height: 70px;
  }
}

.menu {
  font-size: 3rem;

  i {
    font-size: 2rem;
  }
}

.end,
.last,
.legal,
h3,
ul,
p,
h2,
.serv,
.kit {
  list-style: none;
  padding-bottom: 1rem;
  margin-left: 1rem;
}

.animate {
  margin-left: 1rem;
  padding: 1rem;
  margin-top: 1rem;
  margin-bottom: 3rem;

  h1 {
    padding-bottom: 1rem;
  }

  p {
    padding-bottom: 1rem;
  }

  button {
    border-radius: 5px;
    padding: 1rem;
    color: #fff;
    border-color: #fff;
  }
}

main {
  margin-top: 2rem;
}

.select {
  padding-left: 1rem;
}

.section-one {
  h2 {
    padding: 0.7em 0;
  }

  p {
    padding-bottom: 1rem;
  }

  button {
    border-radius: 6px;
    padding: 1rem;
  }
}

.quest {
  padding-bottom: 3rem;
}

video {
  padding-top: 1rem;
}

.icons {
  display: flex;
  width: 100%;
  justify-content: space-between;
  padding: 1rem 0;

  img {
    width: 50px;
    height: 50px;
  }
}

.section-two {
  background-image: linear-gradient(110deg, #242121c5, #3d3a3ad0), url("../images/nature.jpeg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  color: #fff;

  h3 {
    padding: 1rem 2rem;
  }

  p {
    padding: 1rem 2rem;
  }

  button {
    border-radius: 15px;
    margin: 1rem;
    padding: 1rem;
  }
}

.nomber {
  display: flex;
  padding: 1rem;

  ul {
    display: flex;
    justify-content: space-between;
    text-align: center;
    list-style: none;
  }

  li {
    justify-content: space-between;
    padding: 1rem;
  }
}

.one {
  color: dodgerblue;
  font-size: 2rem;
  font-style: bold;
}

.for {
  button {
    border-radius: 6px;
    padding: 1rem;
    margin: 1rem;
  }
}

.peo {
  padding: 1rem;
  margin: 1rem;
  font-size: 2rem;
}

.mag {
  padding: 1rem;
  margin: 1rem;
}

.more {
  display: block;
  gap: 1rem;
  background-color: #ebebeb;
  text-align: center;
  padding: 3rem 0;
}

.box {
  background-color: #fff;
  padding: 1.2rem 0.7rem;
  box-shadow: 0 4px 4px #f6f0f0;

  h3 {
    padding: 1rem;
    margin: 1rem;
  }

  p {
    padding: 1rem;
    margin: 1rem;
  }

  button {
    border-radius: 6px;
    padding: 1rem;
  }
}

.two {
  color: dodgerblue;
}

.two .material-icons {
  font-size: 7rem;
}

.section-four {
  text-align: center;
}

.why {
  padding-top: 3rem;
  text-align: center;

  h3 {
    padding-top: 1rem;
    margin: 1rem;
  }

  p {
    padding: 1rem;
    margin: 1rem;
  }
}

.wh {
  color: dodgerblue;
  padding-left: 1rem;
}

.seven {
  color: dodgerblue;
}

.seven .material-icons {
  font-size: 5rem;
}

.tex {
  text-align: center;
  padding-top: 1rem;
}

.img img {
  width: 100%;
}

.section-five {
  margin-top: 2rem;
  text-align: center;
}

.order {
  display: block;
  gap: 1rem;
  background-color: #ebebeb;
  text-align: center;
  padding: 3rem 0;
}

.img-one img {
  margin-top: 2rem;
}

.chat {
  color: dodgerblue;
}

.chat .material-icons {
  font-size: 5rem;
}

.z {
  text-align: center;
  margin: 1rem 2rem;
  background-color: #fff;
  padding: 1.2rem 0.7rem;
  box-shadow: 0 4px 4px #f6f0f0;

  h2 {
    padding: 1rem;
  }

  p {
    padding: 1rem;
  }

  button {
    border-radius: 6px;
    padding: 1rem;
  }
}

.section-six {
  display: block;
  gap: 1rem;
  background-color: #ebebeb;
  text-align: center;
  padding: 3rem 0;
}

.mak {
  background-image: linear-gradient(110deg, #1d1d1dae, #363636ca), url("../images/house.jpeg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  color: #fff;

  h1 {
    padding: 1rem 2rem;
  }
}

.three {
  color: dodgerblue;
}

.three .material-icons {
  font-size: 5rem;
}

.a {
  text-align: center;
  margin: 1rem 2rem;
  background-color: #fff;
  padding: 1.2rem 0.7rem;
  box-shadow: 0 4px 4px #f6f0f0;
}

.section-seven {
  margin-top: 2rem;
  background-color: #ebebeb;
}

.deux {
  padding: 1rem 2rem;
}

.say {
  color: dodgerblue;
  padding-top: 1rem;
  margin-top: 1rem;
}

.rest {
  display: block;
  border-radius: 1rem;
  padding: 2rem;
  margin: 2rem;
  background-color: #fff;
}

.alex img {
  height: 50px;
  width: 50px;
  border-radius: 50%;
}

.rh {
  display: block;
  border-radius: 1rem;
  padding: 2rem;
  margin: 2rem;
  background-color: #fff;
}

.reb img {
  height: 50px;
  width: 50px;
  border-radius: 50%;
}

footer {
  background-color: black;
  color: #fff;
}

.abt {
  margin-top: 2rem;
  padding: 1rem;

  button {
    border-radius: 6px;
    padding: 1rem;
    margin: 2rem;
    color: #fff;
    border-color: #fff;
  }
}

@media screen and (min-width: 768px) {
  nav {
    display: flex;
  }

  ul {
    display: flex;
  }

  a {
    color: #fff;
  }

  .select {
    display: grid;
    grid-template-columns: 50% 50%;
    padding: 2rem;

    button {
      color: steelblue;
      border-color: steelblue;
    }
  }

  video {
    width: 100%;
  }

  span {
    color: dodgerblue;
  }

  .icons {
    padding: 4rem;
  }

  .section-two {
    text-align: center;

    button {
      color: #fff;
      border-color: #fff;
    }

    .nomber {
      span {
        padding: 4rem;
      }
    }
  }

  .section-three {
    background-color: #ebebeb;
  }

  .for {
    display: grid;
    grid-template-columns: 50% 50%;

    button {
      border-radius: 6px;
      padding: 1rem;
    }
  }

  .more {
    display: grid;
    grid-template-columns: 33.33% 33.33% 33.33%;
    padding: 1rem;
  }

  .secton-four {
    display: grid;
    grid-template-columns: 40% 60%;

    .text {
      display: grid;
      grid-template-columns: 40% 60%;
    }
  }

  .why {
    padding-bottom: 0.5rem;
  }

  .section-five {
    display: grid;
    grid-template-columns: 40% 60%;
    background-color: #ebebeb;
  }

  .order {
    display: grid;
    grid-template-columns: 50% 50%;
  }

  .img-one {
    height: 100%;
    width: 100%;
  }

  .section-six {
    button {
      border-radius: 6px;
      padding: 1rem;
    }
  }

  .mak {
    button {
      color: #fff;
      border-color: #fff;
    }
  }

  .hnd {
    display: grid;
    grid-template-columns: 33.33% 33.33% 33.33%;
  }

  .section-seven {
    background-color: #ebebeb;
    display: grid;
    grid-template-columns: 50% 50%;
  }

  .section-eight {
    color: #fff;
  }

  .work {
    display: grid;
    grid-template-columns: 40% 30% 30%;
  }

  .kit {
    display: block;
  }

  .serv {
    ul {
      display: block;
    }
  }

  .std {
    ul {
      display: block;
    }
  }

  .end {
    display: flex;
    justify-content: space-between;
    border-top: 2px solid dodgerblue;
  }
}
